### Conexión desde Python con sqlite3

In [55]:
import sqlite3

In [56]:
# Conectar (crea el archivo si no existe)
conexion = sqlite3.connect('clientes.db')

In [57]:
# Crear un cursor
cursor = conexion.cursor()

In [58]:
# Cerrar conexión
conexion.close()

### Crear tablas y ejecutar consultas desde Python

In [59]:
conexion = sqlite3.connect('clientes.db')
cursor = conexion.cursor()

In [60]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS contactos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    telefono TEXT,
    email TEXT
)
''')

conexion.commit()
conexion.close()

### Operaciones CRUD (Create, Read, Update, Delete)

#### create; Insertar datos

In [61]:
conexion = sqlite3.connect('clientes.db')
cursor = conexion.cursor()
cursor.execute("INSERT INTO contactos (nombre, telefono, email) VALUES (?, ?, ?)",
               ('Ana', '654321098', 'ana@email.com'))
cursor.execute("INSERT INTO contactos (nombre, telefono, email) VALUES (?, ?, ?)",
               ('Jose', '666777888', 'jose@email.com'))
cursor.execute("INSERT INTO contactos (nombre, telefono, email) VALUES (?, ?, ?)",
               ('Pere', '654321098', 'pereiv@email.com'))
cursor.execute("INSERT INTO contactos (nombre, telefono, email) VALUES (?, ?, ?)",
               ('Gumersindo', '666777888', 'sindo@email.com'))
conexion.commit()
conexion.close()

#### read; Leer datos

In [62]:
conexion = sqlite3.connect('clientes.db')
cursor = conexion.cursor()
cursor.execute("SELECT * FROM contactos")
resultados = cursor.fetchall()

for fila in resultados:
    print(fila)

conexion.close()

(1, 'Ana', '654321098', 'ana@email.com')
(2, 'Jose', '666777888', 'jose@email.com')
(3, 'Pere', '654321098', 'pereiv@email.com')
(4, 'Gumersindo', '666777888', 'sindo@email.com')

#### update; Modificar datos

In [63]:
conexion = sqlite3.connect('clientes.db')
cursor = conexion.cursor()
cursor.execute("UPDATE contactos SET telefono = ? WHERE nombre = ?", ('666666666', 'Ana'))
conexion.commit()
conexion.close()

#### delete; Borrar datos

In [64]:
conexion = sqlite3.connect('clientes.db')
cursor = conexion.cursor()
cursor.execute("DELETE FROM contactos WHERE nombre = ?", ('Ana',))

conexion.commit()
conexion.close()

### Consultas avanzadas: JOIN, filtros y agregaciones

#### Filtrar por condiciones:

In [65]:
conexion = sqlite3.connect('clientes.db')
cursor = conexion.cursor()
cursor.execute("SELECT * FROM contactos WHERE nombre LIKE '%e%'")
resultados = cursor.fetchall()

for fila in resultados:
    print(fila)

conexion.close()

(2, 'Jose', '666777888', 'jose@email.com')
(3, 'Pere', '654321098', 'pereiv@email.com')
(4, 'Gumersindo', '666777888', 'sindo@email.com')

#### Agregaciones:

In [66]:
conexion = sqlite3.connect('clientes.db')
cursor = conexion.cursor()
cursor.execute("SELECT COUNT(*) FROM contactos")
resultado = cursor.fetchone()
print('Hay',resultado[0], 'contactos.')

Hay 3 contactos.

#### JOIN

In [67]:
conexion = sqlite3.connect('clientes.db')
cursor = conexion.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS direcciones (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    calle TEXT NOT NULL,
    poblacion TEXT,
    cp TEXT,
    provincia TEXT,
    id_contacto INTEGER,
    FOREIGN KEY (id_contacto) REFERENCES contactos(id)               
)
''')

conexion.commit()
conexion.close()

In [68]:
conexion = sqlite3.connect('clientes.db')
cursor = conexion.cursor()
cursor.execute("insert into direcciones (calle,poblacion,cp,provincia,id_contacto) values ('c/sagasta 37','El prat','08999','BCN',1)")

In [69]:
cursor.execute("insert into direcciones (calle,poblacion,cp,provincia,id_contacto) values (?,?,?,?,?)" ,('c/sagasta 27','El prat','08999','BCN',2))
cursor.execute("insert into direcciones (calle,poblacion,cp,provincia,id_contacto) values (?,?,?,?,?)" ,('c/sagasta 17','El prat','08999','BCN',3))
cursor.execute("insert into direcciones (calle,poblacion,cp,provincia,id_contacto) values (?,?,?,?,?)" ,('c/sagasta 7','El prat','08999','BCN',4))
cursor.execute("insert into direcciones (calle,poblacion,cp,provincia,id_contacto) values (?,?,?,?,?)" ,('c/saboya 27','El prat','08999','BCN',1))
cursor.execute("insert into direcciones (calle,poblacion,cp,provincia,id_contacto) values (?,?,?,?,?)" ,('c/carrer 27','El prat','08999','BCN',2))
cursor.execute("insert into direcciones (calle,poblacion,cp,provincia,id_contacto) values (?,?,?,?,?)" ,('c/cucufate 27','El prat','08999','BCN',2))

conexion.commit()
conexion.close()

In [70]:
conexion = sqlite3.connect('clientes.db')
cursor = conexion.cursor()
cursor.execute('''
SELECT c.nombre, d.calle
FROM contactos c
JOIN direcciones d ON c.id = d.id_contacto
''')
resultados = cursor.fetchall()

for fila in resultados:
    print(fila)

conexion.close()

('Jose', 'c/sagasta 27')
('Pere', 'c/sagasta 17')
('Gumersindo', 'c/sagasta 7')
('Jose', 'c/carrer 27')
('Jose', 'c/cucufate 27')

In [71]:
conexion = sqlite3.connect('clientes.db')
cursor = conexion.cursor()
cursor.execute("SELECT * FROM direcciones")
resultados = cursor.fetchall()

for fila in resultados:
    print(fila)

conexion.close()

(1, 'c/sagasta 37', 'El prat', '08999', 'BCN', 1)
(2, 'c/sagasta 27', 'El prat', '08999', 'BCN', 2)
(3, 'c/sagasta 17', 'El prat', '08999', 'BCN', 3)
(4, 'c/sagasta 7', 'El prat', '08999', 'BCN', 4)
(5, 'c/saboya 27', 'El prat', '08999', 'BCN', 1)
(6, 'c/carrer 27', 'El prat', '08999', 'BCN', 2)
(7, 'c/cucufate 27', 'El prat', '08999', 'BCN', 2)

In [75]:
conexion = sqlite3.connect('clientes.db')
cursor = conexion.cursor()
cursor.execute("SELECT * FROM contactos")
resultados = cursor.fetchall()

for fila in resultados:
    print(fila)

conexion.close()

(2, 'Jose', '666777888', 'jose@email.com')
(3, 'Pere', '654321098', 'pereiv@email.com')
(4, 'Gumersindo', '666777888', 'sindo@email.com')

### Manejo de errores y transacciones

In [73]:
try:
    conexion = sqlite3.connect('clientes.db')
    cursor = conexion.cursor()
    cursor.execute("INSERT INTO contactos (nombre) VALUES (?)", (None,))
    conexion.commit()
except sqlite3.Error as e:
    print("Error:", e)
finally:
    conexion.close()

Error: NOT NULL constraint failed: contactos.nombre

### Transacciones:

In [74]:
with sqlite3.connect('clientes.db') as conn:
    cursor = conn.cursor()
    cursor.execute("UPDATE contactos SET telefono = ? WHERE nombre = ?", ('777777777', 'Carlos'))
    conn.commit()